/*
|--------------------------------------------------------------------------
| Cars
|--------------------------------------------------------------------------
| @namespace: car-
|
*/
@import "../../styles/app";

.car-Cars {
  @include sm {
    height: 100vh;
    overflow: hidden;
  }
}

.car-Cars_Inner {
  @include Grid_Container;
}

.car-Cars_Columns {
  @include sm {
    display: flex;
  }
}

.car-Cars_Column-aside {
  // This height would be calculated but for the sake of time it's fixed for now
  border-radius: 8px;
  overflow: hidden;

  @include sm {
    width: 380px;
    min-height: calc(100vh - 138px);
    margin-right: calc(var(--Grid_Gutter) * 2);
    overflow-y: scroll;
  }
}

.car-Cars_Body {
  margin: 32px 0;
}

.car-Cars_Column-main {
  flex: 1;
  display: none;

  @include sm {
    display: flex;
  }
}
