/*
|--------------------------------------------------------------------------
| List detail
|--------------------------------------------------------------------------
| @namespace: car-
|
*/
@import "../../../styles/app";

.car-ListDetail {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  padding: 32px;
  background-color: #fff;
  border-radius: 8px;
}

.car-ListDetail_Empty {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.car-ListDetail_Header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 16px;
}

.car-ListDetail_ImageContainer {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.car-ListDetail_Title {
  @include Font_22-36;
}

.car-ListDetail_Price {
  @include Font_22-36;

  font-weight: 700;
  margin-left: 32px;
}

.car-ListDetail_Footer {
  justify-content: flex-end;
  display: flex;
  margin-top: auto;
}

.car-ListDetail_Button {
  padding: 4px var(--Grid_Gutter);
  border-radius: 8px;
  border: 2px solid var(--Color_Brand-secondary);
  background-color: var(--Color_Brand-secondary);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  transition: background-color var(--Global_Transition), color var(--Global_Transition);

  &:hover {
    background-color: transparent;
    color: var(--Color_Brand-secondary);
  }
}
