@import "./mixins";

/*
|--------------------------------------------------------------------------
| Font mixins
|--------------------------------------------------------------------------
|
*/
@mixin Font_Kicker {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;

  @include md {
    font-size: 14px;
    line-height: 20px;
  }
}

@mixin Font_Kicker-small {
  @include Font_Kicker;

  font-size: 10px;
  line-height: 14px;

  @include md {
    font-size: 12px;
    line-height: 16px;
  }
}

@mixin Font_14-18 {
  font-size: 14px;
  line-height: 18px;
}

@mixin Font_16-28 {
  font-size: 14px;
  line-height: 20px;

  @include sm {
    line-height: 26px;
  }

  @include md {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }
}

@mixin Font_18-30 {
  font-size: 16px;
  line-height: 28px;

  @include lg {
    font-size: 18px;
    line-height: 30px;
  }
}

@mixin Font_20-28 {
  font-size: 18px;
  font-weight: normal;
  line-height: 26px;

  text-transform: uppercase;

  @include md {
    font-size: 20px;
    line-height: 28px;
  }
}

@mixin Font_22-36 {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  font-family: var(--Font_Family-inknut);

  @include sm {
    font-size: 18px;
    line-height: 32px;
  }

  @include md {
    font-size: 22px;
    line-height: 36px;
  }
}

@mixin Font_26-38 {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  font-family: var(--Font_Family-inknut);

  @include sm {
    font-size: 24px;
    font-weight: 300;
    line-height: 34px;
  }

  @include md {
    font-size: 26px;
    line-height: 36px;
  }
}

@mixin Font_26-42 {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  font-family: var(--Font_Family-inknut);

  @include sm {
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
  }

  @include md {
    font-size: 26px;
    line-height: 42px;
  }
}
